#password{
	position:relative; 
}

#navigationbar{
position:relative; 
top: -250px;
	
	
}
.graphs{
height:500px;
width:100%;
display:block;
position: relative; : center; 
	
	
}

#header{
position:relative; 
top:50px;	
	
}